/*-- Main Blog Overview Page --*/
.container.page-heading {
    @include center;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    
    h2 {
        border-bottom: 2px solid white;
    }
}

.blog-overview {
    @include center($justify-content: flex-start);
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    
    /* Placeholder Images */
    img {
        @include center;
        max-width: 100%;
        max-height: 350px;
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        opacity: 90%;
    }

    .image-wrapper a:hover img {
        // box-shadow: 0 0 7px 1px $primary-color; /*!! Not sure if I prefer the box-shadow or not! */
        border: 2px solid $primary-color;
        opacity: 100%;
        transition: .2s;
    }
    
    .content-wrapper {
        flex-direction: column;
    }

    .blog-details {
        display: flex;
        padding-top: 1em;
        font-weight: 700;
        flex-flow: row wrap;
        
        .blog-author, .blog-date {
            padding-right: 5px;
            font-size: 12px;
        }
    }

    .container {
        @include center;
        padding: 1em 0 2em;
        border-top: .5px solid $link-static-color;

        .image-wrapper {
            padding: 8px 0;
        }
    }
}   

/* Break Points for Other Screen Sizes */
/***--Tablets--***/
@media only screen and(min-width: 481px) {
    
}

@media only screen and(min-width: 769px) {
    body {
        p {
            font-size: 1.4em;
        }
        h2 {
            font-size: 1.8em;
        }
    }
}