.resume-section {
    @include center($justify-content: flex-start);
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0 0 2em; 

    .container {
        width: 100%;

        .content-wrapper {
            display: flex;
            flex-direction: column;

            h2 {
                margin-bottom: 10px;
                max-width: 100%;
                
                mark {
                    max-width: 100%;
                }
            }
        }
    }

    .laptop-desktop-resume  {
        width: 100%;
        max-height: 700px;

        object {
            box-sizing: border-box;
            width: 100%;
            height: 700px;
        }
    }

    .mobile-resume-block {
        width: 100%;
        height: auto;

        a {
            text-decoration: none;
        }

        button {
            @include center;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            @include generic-button;
            margin: 0 auto;
        }
    
        button:hover {
            background: rgba(255, 255, 255, 0.85);
            color: $primary-color-dim;
            transition: .4s;
        }
    }
}

/* Break Points for Other Screen Sizes */
/***-- Mobile Screens --***/
@media only screen and(max-width: 480px) {
    object {
        display: none;
    }
}

/***-- Tablet and Beyond --***/
@media only screen and(min-width: 481px) {
    .mobile-resume-block {
        display: none;
    }

    .resume-section .content-wrapper {
        max-width: 1200px;
        height: 100%;
    }
    
    .resume-section .svg-img {
        max-width: 1200px;
    }
}