/*-- Fonts --*/
/*Montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/*Open Sans Condensed*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
/*Acme */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
/* Mixins */
/*-- Variables --*/
/* Link color doubles up as primary color at the moment */
/* Resets */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*-- Universal Elements --*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #272727;
  overflow-x: hidden;
}

mark {
  background-color: transparent;
  color: #08fdd8;
}

main {
  margin: 0 4em;
}

.content-wrapper {
  background: #f1f1f150;
  border-radius: 2px;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
}

.image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: .8px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: .8px;
  text-align: center;
  font-weight: 300;
}

/* Outer used to wrap the page */
/* Background Image for Intro Block, anchored in Outer */
.outer {
  height: 100vh;
  width: 100vw;
}

.outer img[src*="flinders-bg.jpg"] {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 50px;
  -webkit-filter: opacity(0.5) blur(2px);
          filter: opacity(0.5) blur(2px);
}

/* Hamburger Button Structure */
.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 99;
  background: #64646450;
  border-radius: 15px;
}

.menu-btn__burger {
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(13px);
          transform: translateY(13px);
}

/* Hamburger Animation */
.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(-35px, 35px);
          transform: rotate(45deg) translate(-35px, 35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(-35px, -35px);
          transform: rotate(-45deg) translate(-35px, -35px);
}

/* Slide Out Mobile Menu */
.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 98;
  background: #1d1d1df5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobile-nav .nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18em;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 12px 16px;
  color: #fff;
  text-decoration: none;
}

.mobile-nav .nav-links a:hover {
  color: #08fdd8;
  border-radius: 7px;
  background: #646464;
  -webkit-transition: .4s;
  transition: .4s;
}

.mobile-nav.open {
  right: 0;
}

.mobile-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 1em 0 .8em;
  background: black;
}

.mobile-nav__top span {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1em;
}

.mobile-nav__top h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: .7px;
  font-weight: 700;
  font-size: 1.4em;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 98;
  width: 3em;
  padding-bottom: 10px;
}

.logo h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: .7px;
  font-weight: 700;
  font-size: .8em;
}

.mobile-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mobile-nav__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-decoration: none;
  padding: 0 5px 10px;
  color: #909096;
}

.mobile-nav__social a :hover {
  color: #08fdd8;
  fill: #08fdd8;
  -webkit-transition: fill .2s;
  transition: fill .2s;
}

.mobile-nav__social svg {
  width: 80%;
  fill: #646464;
}

/* Home - Landing Page */
.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100%;
}

.intro-section #ashley-headshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.intro-section .intro-text {
  max-width: 300px;
  text-align: center;
}

.intro-section .container h2 {
  font-family: 'Acme', sans-serif;
}

.intro-section .container p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

.intro-section .container mark {
  margin-right: 2px;
}

/* About Section */
.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  padding: 0 0 2em;
}

.about-section .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-section .content-wrapper .gen-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  margin: 10px 0 0px;
  border-radius: 5px;
  background: #0ec6aa;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 1;
}

.about-section .content-wrapper .gen-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
}

.about-section .content-wrapper .gen-btn:hover {
  background: rgba(255, 255, 255, 0.85);
  -webkit-transition: .4s;
  transition: .4s;
}

.about-section .content-wrapper .gen-btn:hover a {
  text-decoration: none;
  color: #0ec6aa;
}

.about-section .content-wrapper h3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-height: 700px;
  padding: 2em 0 0;
}

.about-section .short-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-section .short-content-text p {
  line-height: 1.2em;
}

.about-section .short-content-text a {
  color: #08fdd8;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
  text-decoration: underline;
}

.about-section .short-content-text a:hover {
  color: #0ec6aa;
}

.about-section .about-img1, .about-section .about-img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
  height: auto;
  padding: 2em 0;
}

/* Site Footer */
.site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 0;
  height: 250px;
  padding: 2em 0 1em;
  line-height: 1.7em;
  border-bottom: #646464;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 5px 3px inset;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 5px 3px inset;
}

.site-footer .container a {
  color: white;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.site-footer .container a:hover {
  color: #08fdd8;
}

.site-footer .container .footer-socials {
  margin: 1em 0;
}

.site-footer .container .footer-socials a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  padding: 0 5px 10px;
  fill: #909096;
}

.site-footer .container .footer-socials a :hover {
  color: #08fdd8;
  fill: #08fdd8;
  -webkit-transition: .2s;
  transition: .2s;
}

.site-footer .to-top {
  background-color: transparent;
  border: none;
}

.site-footer .to-top .circle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #646464;
  height: 45px;
  width: 45px;
  margin: 1em;
  border-radius: 50%;
  -webkit-box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.site-footer .to-top .circle-button:hover {
  background: #08fdd8;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.site-footer .to-top svg {
  position: relative;
  fill: #272727;
  bottom: .2em;
  width: 80%;
}

/* Break Points for Other Screen Sizes */
/***--Tablets--***/
/* Home - Landing Page */
.blog-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
  /*Placeholder */
}

.blog-overview .page-heading {
  border-bottom: 2px solid white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.blog-overview #ashley-headshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  max-width: 100%;
  max-height: 350px;
  border-radius: 15%;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.blog-overview .container {
  padding: 2em 0 0;
}
/*# sourceMappingURL=style.css.map */