/*-- Fonts ---*/
/*Open Sans Condensed*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*Open Sans Condensed*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

/* Mixins */
@mixin center($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

/* Variables */


$link-color: #08fdd8;
$hover-color: #646464;